%section.jumbotron.sign
  .container
    %h1(style="text-align: center;") Mentor next generation developers
    .col-sm-offset-3
      %article.well.col-sm-6
        %form.form-horizontal(role="form")
          .form-group
            %label.control-label.col-sm-3 Skill
            .col-sm-9
              %select.form-control(name="")
                %option(value="0") Select a language
                %option(value="1") HTML
                %option(value="2") CSS
                %option(value="3") Ruby
                %option(value="4") Rails
                %option(value="5") Angular.js
                %option(value="6") jQuery
                %option(value="7") SQL
          .form-group
            %label.control-label.col-sm-3 Description
            .col-sm-9
              %textarea.form-control(rows="4" placeholder="Write couple lines about your skills for particular skill.")
          .form-group
            %label.control-label.col-sm-3 Experience
            .col-sm-9
              %input.form-control(type="month" min="2000-01" max="2014-12")
          .form-group
            %label.control-label.col-sm-3
            .col-sm-9
              %input.form-control.btn.btn-danger(type="submit" value="Sign the pledge")