%section.jumbotron.sign
  .container.col-sm-offset-4
    %h1 Sign in
    %article.well.col-sm-5
      %form.form-horizontal(role="form")
        .form-group
          %label.control-label.col-sm-3 Email
          .col-sm-9
            %input.form-control(type="email")
        .form-group
          %label.control-label.col-sm-3 Password
          .col-sm-9
            %input.form-control(type="password")
        .form-group
          %label.control-label.col-sm-3
          .col-sm-9
            %input.form-control.btn.btn-primary(type="submit" value="Sign in")
