%section.container
  %article.entry
    %header.logo
    %form
      %fieldset
        .form-group
          %label Email Address
          %input(type="email")
        .form-group
          %label Password
          %input(type="password")
      %fieldset.form-group
        %input(type="submit" value="Sign in")
