.jumbotron.dashboard {
  background: asset-data-url("blue-triangles-dashboard.jpg");
}

h2.mid-headers {
  margin-bottom: 20px; 
  font-weight: bold;
}

.active { 
  cursor: pointer;
}

dl {
  margin-bottom: 10em;
  dt {
    position: relative;
    span.cirle {
      position: absolute;
      top: 10px;
      left: 60px;
      font-size: 33px;
      background: { color: #337ab7; }
      border-radius: 100%;
      color: white;
      height: 50px;
      width: 50px;
      text-align: center;      
    }
  }

}
