.jumbotron.user
  background: asset-data-url("coder.jpg")
  background-size: 100% 100%
  background-repeat: no-repeat
  > section > p
    height: 150px

article.skill_mentors > h2
  margin-bottom: 20px

.thumbnail.circ
  width: 130px
  height: 130px
  border-radius: 100px
  padding: 15px
  &:hover
    border: 8px solid rgba(105, 105, 105, 0.2)

p.thumbnail-buttons
  margin-bottom: 0

h1.user-name
  margin-left: -50px

h4.feedback-language
  margin-top: 0

span.fullname
  width: 88px
  font-size: 15px

p.user-feedback
  word-wrap: break-word